.message{
    padding: 10 px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.other-message {
    backgroud: var(--ion-color-primary);
    color: #fff;
}
.my-message{
    backgroud: var(--ion-color-secondary);
    color: #fff;
}
.time {
    color: #dfdfdf;
    float: raight;
    font-size: small;
}

.message-input {

}

.msg-btn {
    
}