.message{
    padding: 10 px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.other-message {
    background: var(--ion-color-primary);
    color: #000;
}
.my-message{
    background: var(--ion-color-secondary);
    color: #000;
}
.time {
    color: #000;
    float: raight;
    font-size: small;
}

.message-input {

}

.msg-btn {

}