.message{
    padding: 10 px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.other-message {
    background: var(--ion-color-primary);
    color: #000;
}
.my-message{
    background: var(--ion-color-secondary);
    color: #000;
}
.time {
    color: #000;
    float: raight;
    font-size: small;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.msg-btn {
 --padding-start: 0.5em;
 --padding-end: 1em;
}