<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      Personal Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='tertiary'>
  <!-- We will add the useability later -->
  <!-- Username input -->
  <ion-item color="tertiary">
    <ion-label color="dark" position="floating">
      {{ settings.userName }}
    </ion-label>
    <ion-input [(ngModel)]="userName"></ion-input>
    <ion-button shape="round" (click)="settingsButtonClicked()">Update username</ion-button>
  </ion-item>

  <!-- Darkmode toggle -->
  <ion-item color="tertiary">
    <ion-label color="dark">Darkmode</ion-label>
    <ion-toggle (ionChange)="darkModeToggle()"></ion-toggle>
  </ion-item>
  


  <ion-item color="tertiary">
    <ion-label color="dark">Font Size</ion-label>
    <ion-select color="secondary"#font placeholder={{settings.fontSize}} (ionChange)="settings.saveFontSize(font.value)">
      <ion-select-option value="large">Large</ion-select-option>
      <ion-select-option value="normal">Normal</ion-select-option>
      <ion-select-option value="small">Small</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- 
  <ion-item>
    <ion-button (click)="get()">userName</ion-button>
  </ion-item>  -->

  <!-- Tab bar at bottom of page -->
  <!-- This is the same on all pages -->
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button (click)="goToMatches()" routerDirection="backward">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Matches</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToHome()" routerDirection="forward">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="settings"></ion-icon>
        <ion-label>Personal Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
