<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      Personal Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='tertiary'>
  <!-- We will add the useability later -->
  <!-- Username input -->
  <ion-item>
    <ion-label position="floating">
      User Name
    </ion-label>
    <ion-input [(ngModel)]="userName"></ion-input>
    <ion-button shape="round" (click)="settingsButtonClicked()">Update username</ion-button>
  </ion-item>

  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          Font Size
        </ion-list-header>
  
        <ion-item>
          <ion-label>Small</ion-label>
          <ion-radio value="small" (ionSelect)="settings.saveFontSize('small')"></ion-radio>
        </ion-item>
  
        <ion-item>
          <ion-label>Normal</ion-label>
          <ion-radio value="normal" (ionSelect)="settings.saveFontSize('normal')"></ion-radio>
        </ion-item>
  
        <ion-item>
          <ion-label>Large</ion-label>
          <ion-radio value="large" (ionSelect)="settings.saveFontSize('large')"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  
    <ion-button (click)="settings.factoryBtnClicked()">Factory Settings</ion-button>

  <!-- Darkmode toggle -->
  <ion-item>
    <ion-label>Darkmode</ion-label>
    <ion-toggle [(ngModel)]="darkMode"  (ionChange)="darkModeToggle()"></ion-toggle>
  </ion-item>

  <!-- Tab bar at bottom of page -->
  <!-- This is the same on all pages -->
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button (click)="goToMatches()" routerDirection="backward">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Matches</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToHome()" routerDirection="forward">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="settings"></ion-icon>
        <ion-label>Personal Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
