<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      Personal Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='tertiary'>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button (click)="goToMatches()" routerDirection="backward">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Matches</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToHome()" routerDirection="forward">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="settings"></ion-icon>
        <ion-label>Personal Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
