<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      Matches
    </ion-title>
    <ion-label slot="end" (click)="goToChat()">
      <ion-icon 
        slot="icon-only"
        name="chatbubbles"
        size="large"
        color="secondary">
      </ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" class="in-front"> 

  <ion-infinite-scroll class="behind">
    <ion-infinite-scroll-content>
      <!-- <ion-item color="primary" *ngFor="let match of matches" class="matches">
        <ion-label>{{match.name}}</ion-label>
        <app-expandable [expandHeight]="itemExpandHeight" [expanded]="match.expanded">
          <ion-label class="description">{{match.description}}</ion-label>
        </app-expandable>
      </ion-item> -->
      <ion-card (click)="expandItem(match)" color="primary" *ngFor="let match of matches" class="matches">
        <ion-card-header>
          {{match.info.name}}
        </ion-card-header>
        <app-expandable [expandHeight]="itemExpandHeight" [expanded]="match.expanded">
          <ion-label>{{match.info.description}}</ion-label>
        </app-expandable>
      </ion-card>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <!-- probably don't need this button anymore
  <ion-item class="bottomright" color="tertiary">
      <ion-button (click)="goToChat()" router-direction="forward" color="primary" shape="round" class="chatbutton">
        <ion-icon name="chatbubbles" color="secondary"></ion-icon>
        <ion-label color="secondary">Chat</ion-label>
      </ion-button>
  </ion-item> -->
  <ion-toolbar>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
          <ion-tab-button>
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Matches</ion-label>
          </ion-tab-button>
    
          <ion-tab-button (click)="goToHome()" routerDirection="forward">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
    
          <ion-tab-button (click)="goToPersonal()" routerDirection="backward">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Personal Settings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
  </ion-toolbar>
</ion-footer>
