.bottomright {
    position: absolute;
    bottom: 72px;
    right: 8px;
    height: 70px;
}

.chatbutton {
    height: 64px;
}

.matches {
    //padding-top: 2px;
    //padding-bottom: 2px;
    border-radius: 16px;
    margin-bottom: 4px;
    width: 275px;
    //padding: 4px;
    //height: 64px;
    //padding-left: 4px;
    //padding-right: 4px;
}

.matches-list {
    background-color: rgb(192,192,192);
}

.in-front {
    z-index: 2;
}

.behind {
    z-index: 1;
}