<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      Calvin Dating App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <ion-card color="tertiary">
    <ion-card-header color="primary">
      <ion-card-title>
        {{ personToMatch.name }}
      </ion-card-title>
      <ion-card-subtitle>
        Age: {{ personToMatch.age }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-img [src]=[personToMatch.picture] class="user-image"></ion-img>

    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="description">
    <ion-card-header color="primary"> -->
     <ion-item class="description" color="primary">
      <p>
          {{ personToMatch.description }}
      </p>
      
     </ion-item> 
    <!-- </ion-card-header>

    <ion-card-content class="top-padding">
      put the buttons in here
      <ion-button (click)="unMatch()" color="red" slot="start" class="left-button">
        Un-Match
      </ion-button>
      <ion-button (click)="match()" color="green" slot="end" class="right-button">
        Match
      </ion-button>
     </ion-card-content>
  </ion-card> -->

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button (click)="unMatch()">
        <ion-icon name="close-circle" size="large"></ion-icon>
        <ion-label>Pass</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToMatches()" routerDirection="backward">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Matches</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToPersonal()" routerDirection="backward">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Personal Settings</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="match()">
        <ion-icon name="checkmark-circle" size="large"></ion-icon>
        <ion-label>Match</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
